/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";
@import "primeflex/primeflex.css";

/*PrimeNg scaling*/
html {
  font-size: 14px;
}

body {
  margin: 0;
}



:root {
  --font-family: 'Inter', sans-serif !important;
  --primary: hsl(43, 96%, 56%);
  --amplify-colors-primary-10: var(--primary) !important;
  --amplify-colors-primary-20: var(--primary) !important;
  --amplify-colors-primary-40: var(--primary) !important;
  --amplify-colors-primary-60: var(--primary) !important;
  --amplify-colors-primary-80: var(--primary) !important;
  --amplify-colors-primary-90: var(--primary) !important;
  --amplify-colors-primary-100: var(--primary) !important;

  .p-confirm-dialog-reject {
    background-color: hsla(0, 0%, 76%, 0.58) !important;
    border-color: hsla(0, 0%, 76%, 0.58) !important;
  }
}

* {
  font-family: var(--font-family);
}

body {
  font-family: 'Inter', sans-serif;
}

/*override "forgot password?" button' style*/
button.amplify-button.amplify-button--fullwidth.amplify-button--link.amplify-button--small:hover {
  background-color: rgba(255, 255, 255, 0) !important;
}

.app-container {
  margin-left: auto;
  margin-right: auto;
  width: clamp(45ch, 80ch, 100%);
}

.homepage-container {
  min-width: 80ch;
}

.p-menubar {
  border: none;
  border-radius: 0;
}

.p-menubar-start {
  flex: auto;
}

.p-inputgroup input {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.dark-mode-toggle {

  .p-inputswitch {
    margin-top: 0.5rem; /* Lower the input a bit */

    .p-inputswitch-slider::before {
      background: transparent;
      content: "🌞";
      transform: translateX(-0.1rem) translateY(-0.35rem); /* Make content a little bit higher */
    }
  }

  .p-inputswitch-checked .p-inputswitch-slider::before {
    content: "🌚";
    transform: translateX(0.7rem) translateY(-0.35rem); /* Make content a little bit higher */
  }
}



