<p-progressBar *ngIf="isLoading" mode="indeterminate" [style]="{ height: '8px', marginTop: '3rem' }"/>

<div *ngIf="!isLoading">
  <div class="flex flex-row gap-3 align-items-center">
    <h3>{{getWishlistTitle()}}</h3>
    <app-favorite-button *ngIf="user && !isWishlistOwnedByCurrentUser()" [isFavorite]="isFavorite" [userId]="user.id"/>
  </div>
  <p-button [text]="true" *ngIf="isWishlistOwnedByCurrentUser()" icon="pi pi-plus-circle" size="small" label="Add New" (click)="addItem()"/>
  <p-dataView #dv
              [value]="items" >
    <ng-template let-items pTemplate="list">
      <app-wishlist-item *ngFor="let item of items" [item]="item" [authenticatedUser]="authenticatedUser" (deleteEvent)="removeItem(item)"/>
    </ng-template>
  </p-dataView>
</div>
