<div class="list-item">
  <div *ngIf="!editing">
    <h3>{{ item.name }}</h3>
    <p>{{ item.price }}</p>
    <a [href]="item.url" target="_blank">{{ item.url }}</a>
    <button (click)="toggleEdit()" *ngIf="belongsToAuthenticatedUser">Edit</button>
  </div>

  <div *ngIf="editing">
    <input [(ngModel)]="item.name" placeholder="Title" />
    <input [(ngModel)]="item.price" placeholder="Cost" />
    <input [(ngModel)]="item.url" placeholder="URL" />
    <button (click)="save()">Save</button>
  </div>
</div>
