<div class="homepage-container flex flex-column align-items-center align-tex">
    <div><h3>🌠 Wishly is a free wishlist application. </h3></div>
    <div class="text-center"><p><a routerLink="/auth/sign-in" class="font-bold">Sign In</a> to manage your wishlist or <a routerLink="/auth/sign-up" class="font-bold">Sign Up</a> to create one.</p>
        <p>You can also view for your friends' wishlists using direct links shared by them, or look up people using search below.</p>
    </div>
    <app-search class="mt-5 min-w-full"></app-search>
</div>

