<p-menubar [model]="items" class="w-full">
  <ng-template pTemplate="start">
    <div class="ml-4"><a routerLink="/" class="text-primary" style="text-decoration: none;"><h2>🌠 wishly.app</h2></a></div>
  </ng-template>
  <ng-template pTemplate="item" let-item>
    <div [routerLink]="item.route" class="p-menuitem-link">
      <span [class]="item.icon"></span>
      <span class="ml-2">{{ item.label }}</span>
    </div>
  </ng-template>
  <ng-template pTemplate="end">
    <div class="mr-4"><app-dark-mode-switch/></div>
  </ng-template>
</p-menubar>
